<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Print</title>
</head>
<body>
    <input type="file" id="printFile">
    <button type="button" id="printButton">Print</button>

    <script>
        document.querySelector('#printButton').onclick = function () {
            let fileField = document.querySelector("#printFile");

            let formData = new FormData();
            formData.append('file', fileField.files[0]);

            fetch("{{ url_for('print_job') }}", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(result => {
                console.log("Success: ", result);
                if (result == true) {
                    alert("Succes!")
                    fileField.value = '';
                }
            })
            .catch(error => {
                console.log("Error:", error)
            });
        };
    </script>
</body>
</html>